name: Mirror Dockerhub

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  mirror:
    name: Mirror
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image: adguard/adguardhome
            repo: docker.io
          - image: hkotel/mealie
            repo: docker.io
          - image: vaultwarden/server
            repo: docker.io
          - image: mysql
            repo: docker.io
          - image: mariadb
            repo: docker.io
          - image: thomseddon/traefik-forward-auth
            repo: docker.io
          - image: haproxy
            repo: docker.io
          - image: osixia/keepalived
            repo: docker.io
          - image: chronograf
            repo: docker.io  
          - image: influxdb
            repo: docker.io
          - image: telegraf
            repo: docker.io
          - image: grafana/grafana
            repo: docker.io
          - image: grafana/grafana-image-renderer
            repo: docker.io
          - image: rook/ceph
            repo: docker.io
          - image: dperson/samba
            repo: docker.io
          - image: elasticsearch
            repo: docker.io
          - image: browserless/chrome
            repo: docker.io
          - image: louislam/uptime-kuma
            repo: docker.io
          - image: golift/unifi-poller
            repo: docker.io
          - image: openspeedtest/latest
            repo: docker.io
          - image: housewrecker/gaps
            repo: docker.io
          - image: psarossy/btmon-influx
            repo: docker.io
          - image: psarossy/speedtest-influxdb
            repo: docker.io
          - image: f0rc3/barcodebuddy
            repo: docker.io
          - image: mikenye/piaware
            repo: docker.io
          - image: mikenye/fr24feed
            repo: docker.io
          - image: redis
            repo: docker.io
          - image: vikunja/frontend
            repo: docker.io
          - image: vikunja/api
            repo: docker.io
          - image: nginx
            repo: docker.io
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - uses: actions/setup-go@v5
      - uses: imjasonh/setup-crane@v0.3
      - name: Mirror
        run: |
          for tag in $(cat ./images/${{ matrix.image }}); do
            crane copy \
              ${{ matrix.repo }}/${{ matrix.image }}:$tag \
              ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}:$tag
          done
